<button (click)="logout()" >Logout</button>
<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lon" [scrollwheel]="false">
  <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
  <agm-marker *ngFor="let item of items | async" [latitude]="item.latitude" [longitude]="item.longitude">
    <agm-info-window>{{item.name}}</agm-info-window>
  </agm-marker>
</agm-map>
<button [routerLink]="['/add']">add</button>
<ul>
  <li *ngFor="let item of items | async; let i=index">
    <p>{{item.name}}, {{item.address}}, {{item.description}}, {{item.longitude}}, {{item.latitude}}</p>
  </li>
</ul>
