<button (click)="logout()" >Logout</button>
<button *ngIf="directions" (click)="hideDirections()">CLEAR NAV</button>
<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lon" [scrollwheel]="false">
  <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
  <agm-marker *ngFor="let item of items | async" [latitude]="item.latitude" [longitude]="item.longitude">
    <agm-info-window>{{item.name}}</agm-info-window>
  </agm-marker>
  <agm-direction [visible]="show" *ngIf="directions" [origin]="directions.origin" [destination]="directions.destination" [travelMode]="travelMode"></agm-direction>
</agm-map>
<button [routerLink]="['/add']">add</button>
<label>Filter
  <input type="text" [(ngModel)]="tagFilter" />
</label>
<ul>
  <li *ngFor="let item of items | async | filter: tagFilter">
    <div>{{item.name}}, {{item.address}}, {{item.description}}, {{item.longitude}}, {{item.latitude}}
      <button *ngFor="let tag of item?.tags; trackBy: trackByFn ">
        {{tag}}
      </button>
      <button (click)="getDirections(item.longitude,item.latitude)">GO</button>
    </div>
  </li>
</ul>
